.password-recovery-container {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  text-align: center; 
  margin-top: 3%;
}

.password-recovery-form {
  display: flex;
  flex-direction: column;
}

.password-recovery-form input {
  margin: 10px 0;
  padding: 10px;
  font-size: 16px;
}

.password-recovery-form button {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

.message {
  margin-top: 20px;
  color: red;
}
